<%- include('../layout/header', {title: "Wiki Index", user: user}) %>
<% title = "Wiki Index" %>
<h1>Create User Account</h1>
<form action="/user/create" method="POST">
  <input type="text" name="username" id="user-name" placeholder="User Name" /><br/>
  <input type="text" name="password" id="password" placeholder="Password" /><br/>
  <button type="submit" formaction="/user/create" >Create Account</button>
</form>
